.post-container {
    display: flex; 
    justify-content: space-between;
    margin: 1rem 2rem;
    align-items: center; 
}
.post-title {
    font-size: 1.5rem;
}
.icon-container {
    display: flex;
    align-items: center;
}
.icon-container > span {
    margin-right: .25rem;
}
.material-icons {
    margin: 0 .5rem;
}
i:hover{
   cursor: pointer;
   opacity: .5;
}
hr{
    margin-right: 2rem;
    margin-left: 2rem;
    opacity: .5;
}