<div class='post-container'> 
    <div class="post-content">
        <div @fade class="post-title">
            {{ post.title }}
        </div>
        <div class="post-thought">
            {{ post.thought }}
        </div>
    </div>
    <div class="icon-container">
        <span *ngIf="upVoteCount">+ {{ upVoteCount }}</span>
        <i class="material-icons" (click)='upVotePost()'>thumb_up_alt</i>
        <!-- <span *ngIf="upVoteCount">+ {{ upVoteCount }}</span> -->
        <i class="material-icons" (click)='deletePost()'>delete</i> 
    </div>
    
</div>
<hr *ngIf='divider'> 


